<div class="div-page" [ngSwitch]="authType">
  <mat-card class="card-login" *ngSwitchCase="'login'">
    <mat-card-title class="center-text">Welcome</mat-card-title>

    <mat-card-content>
      <form [formGroup]="loginForm" class="form-login">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" required>
          <mat-error *ngIf="loginForm.controls['email'].invalid">{{ getErrorMessage('email') }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="loginForm.controls['password'].invalid">{{ getErrorMessage('password') }}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onLogin()">Login</button>

        <button mat-button class="btn-create-account" (click)="onAuthTypeChange('register')">Create account</button>

        <button mat-button class="btn-forgot-password" (click)="onAuthTypeChange('forgot-password')">Forgot
          password</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-register" *ngSwitchCase="'register'">
    <mat-card-title class="center-text">Create account</mat-card-title>

    <mat-card-content>
      <form [formGroup]="registerForm" class="form-register">
        <mat-form-field appearance="fill">
          <mat-label>Enter your first name</mat-label>
          <input matInput placeholder="First name" formControlName="firstName" required>
          <mat-error *ngIf="registerForm.controls['firstName'].invalid">{{ getErrorMessage('firstName') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Enter your last name</mat-label>
          <input matInput placeholder="Last name" formControlName="lastName" required>
          <mat-error *ngIf="registerForm.controls['lastName'].invalid">{{ getErrorMessage('lastName') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Enter your phone number</mat-label>
          <input matInput placeholder="0751010100" formControlName="phone" required>
          <mat-error *ngIf="registerForm.controls['phone'].invalid">{{ getErrorMessage('phone') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Enter your address</mat-label>
          <input matInput placeholder="Str. Virgil Madgeru" formControlName="address" required>
          <mat-error *ngIf="registerForm.controls['address'].invalid">{{ getErrorMessage('address') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Enter email</mat-label>
          <input matInput placeholder="test@test.com" formControlName="email" required>
          <mat-error *ngIf="registerForm.controls['email'].invalid">{{ getErrorMessage('email') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="registerForm.controls['password'].invalid">{{ getErrorMessage('password') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Confirm your password</mat-label>
          <input matInput type="password" formControlName="repassword" required>
          <mat-error *ngIf="registerForm.controls['repassword'].invalid">{{ getErrorMessage('repassword') }}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onRegister()">Register</button>

        <button mat-button class="btn-back-to-login" (click)="onAuthTypeChange('login')">Back to login</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-forgot-password" *ngSwitchCase="'forgot-password'">
    <mat-card-title class="center-text">Forgot password</mat-card-title>

    <mat-card-content>
      <form [formGroup]="forgotPasswordForm" class="form-forgot-password">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" required>
          <mat-error *ngIf="forgotPasswordForm.controls['email'].invalid">{{ getErrorMessage('email') }}</mat-error>
        </mat-form-field>


        <button mat-raised-button color="primary" (click)="onForgotPassword()">Reset Password</button>

        <button mat-button class="btn-back-to-login" (click)="onAuthTypeChange('login')">Back to login</button>

      </form>
    </mat-card-content>
  </mat-card>


</div>
